<section id="new_registration" class="bg-gray-dark-2">
 <h1>Ajouter formation</h1>
  <div class="container">
    <div class="row justify-content-center mt-5 pt-lg-5 bg-gray rounded">
        <div class="col-lg-8">
          <%= form_for @formation, url: formation_path do |f| %>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-element">
                    <label for="intitule">Intitulé de la formation</label>
                    <%= f.text_field :intitule, class: "form-control form-control-lg" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-element">
                    <label for="diplome">Diplôme</label>
                    <%= f.text_field :diplome, class: "form-control form-control-lg text-editor" %>
                  </div>
                </div>
              </div>
            
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-element">
                    <label for="etablissement">Etablissement</label>
                    <%= f.text_field :etablissement, class: "form-control form-control-lg text-editor" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-element">
                    <label for="debut">Date début</label>
                    <%= f.date_field :debut, class: "form-control form-control-lg text-editor" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-element">
                    <label for="fin">Date fin</label>
                    <%= f.date_field :fin, class: "form-control form-control-lg text-editor" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-element">
                    <label for="description">Description</label>
                    <%= f.text_area :description, class: "form-control form-control-lg text-editor" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-element">
                    <button type="submit" class="btn btn-lg btn-primary">Ajouter formation</button>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
    </div>
  </div>
</section>
