<% @page_title = "Mon profile" %>

<!-- Section - Profile Start -->
<section id="profile" class="bg-gray-dark-2 overflow-hidden py-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-profile" data-mh="mh-col-profile">
                <div class="pr-lg-4">
                    <h3 class="font-alt font-w-600 letter-spacing-2 title-extra-large text-uppercase text-white">Hello, Mon nom c'est <%= @profile_firstname %>!</h3>
                    <p class="mt-4 text-large text-white"><%= @profile_fullname %>, <%= @age %> ans, née & grandit à Antananarivo (Madagascar). Je suis passionné par le développement web, plutôt à l'aise avec le back-end.</p>
                    <span class="bg-base-color mt-4 sep-line-medium-thick"></span>
                    <p class="mt-4 text-gray text-large">Je viens récemment de terminer ma session de formation en programmation web sur le langage Ruby & Ruby On Rails chez <a href="http://sayna.io?utm_source=ktnfreelance"><strong style="color: white;">Sayna</strong></a> sur le cursus "The Hacking Project" @THP.</p>
                    <p class="mt-3 text-gray text-large">En attendant mon prochain poste, je suis en train de m'autoformer sur le framework Symfony.</p>

                    <div class="row pt-5">
                        <div class="col-md-7">
                            <span class="d-block font-alt letter-spacing-2 text-extra-large text-uppercase text-white">Contact Details:</span>
                            <ul class="list-unstyled mt-2 text-gray text-large">
                                <li>Andry Hajanirina</li>
                                <li class="pt-2">Lot SI 60 Bis Soavina - Antananarivo</li>
                                <li class="pt-2"><i class="fa fa-phone ease"></i> +261 33 09 433 87</li>
                                <li class="pt-2"><a href="mailto:andryhaj@gmail.com" class="contact"><i class="fa fa-envelope ease"></i> andryhaj@gmail.com</a></li>
                                <li class="pt-2"><a href="https://www.andryhajanirina.herokuapp.com" class="contact"><i class="fa fa-globe ease"></i> https://andryhajanirina.herokuapp.com</a></li>
                            </ul>
                        </div>
                        <!-- //.col-md-6 -->
                        
                        <div class="col-md-5">
                            <a href="<%= mon_cv_index_path %>" class="btn box-shadow-wide btn-base-color btn-large mt-4 mt-md-5">Consulter mon CV</a>
                        </div>
                        <!-- //.col-md-6 -->
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //.pr-lg-4 -->
            </div>
            <!-- //.col-xl-7 -->
            
            <div class="col-xl-5 d-none d-xl-block position-relative" data-mh="mh-col-profile">
                <!-- <img src="/assets/images/profile-picture-1.jpg" alt="" class="img-fluid left-0 position-absolute top-0 w-100"/> -->
                <%= image_tag("profile-picture-1.jpg", class: "img-fluid left-0 position-absolute top-0 w-100") %>
            </div>
            <!-- //.col-xl-5 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</section>
<!-- //Section - Profile End -->