<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "Andry Hajanirina" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CSS du template -->
        <meta name="description" content="Je m'appelle <%= user_info.firstname %> <%= user_info.lastname %>, 31 ans, née & grandit à Antananarivo (Madagascar). Je suis passionné par le développement web, plutôt à l'aise avec le back-end."/>

        <meta name="keywords" content="developpeur, back-end, developpeur back-end, developpeur freelance, integrateur, profile andry, parcours andry, portfolio andry, andry hajanirina, freelance, ktn, ktnfreelance, ktn freelance, saisie, saisie online, saisie offline, moderateur, developpement web, php, developpeur php, developpeur java, swift, developpeur swift, developpeur mobile, android, developpeur android, ios, developpeur ios, scraping, structuration, XML, OCR, encodage, transcripteur, transcription, audio, transcription audio, traitement de donnée, base de donnée, sololearn, codecademy, openclassroom, hellopro, hellotana, value it, sayna, the hacking project, THP " />

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta property="og:site_name" content="KTN Freelance">
        <meta property="og:title" content="Bienvenue sur mon profile">
        <meta property="og:description" content="Je m'appelle <%= user_info.firstname %> <%= user_info.lastname %>, 31 ans, née & grandit à Antananarivo (Madagascar). Je suis passionné par le développement web, plutôt à l'aise avec le back-end.">
        <meta property="og:url" content="https://andryhajanirina.herokuapp.com/mon_cv">
        <meta property="og:image" content="https://andryhajanirina.herokuapp.com/assets/images/freelance_ktn.jpg">
        <meta property="og:locale" content="fr_FR">

        <meta name="google-site-verification" content="4FPWwn0e-wKH3DwAt1Mem9F6qT0NAwe9TXP4Qkk4J_E" />

        <!-- Bootstrap CSS -->
        <link href="/assets/stylesheets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        
        <!-- Font Awesome CSS -->
        <link href="/assets/stylesheets/css/icons-mind.css" rel="stylesheet" type="text/css">
        <link href="/assets/stylesheets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        
        
        <!-- Font Awesome CDN -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Include all css plugins (below), or include individual files as needed -->
        <link href="/assets/stylesheets/css/magnific-popup.css" rel="stylesheet" type="text/css">
        <link href="/assets/stylesheets/css/flexslider.css" rel="stylesheet" type="text/css">
        <link href="/assets/stylesheets/css/flickity.min.css" rel="stylesheet" type="text/css">
        
        <!-- Theme CSS -->
        <link href="/assets/stylesheets/css/theme.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/stylesheets/css/style.css" rel="stylesheet" type="text/css">
        
        <!-- Color Scheme CSS -->
        <link href="/assets/stylesheets/css/color_pink.css" rel="stylesheet" type="text/css">
    <!-- CSS du template -->
        
        <!--Favicon-->
        <!-- <link rel="shortcut icon" href="/assets/img/K.jpg" type="image/x-icon"> -->
        <link rel="shortcut icon" href="/assets/img/profile-picture-1.jpg" type="image/x-icon">
  </head>

  <body id="page-top" class="pace-done">

    <!-- Navigation start -->
      <%= render "layouts/navigation_top" %>
    <!-- Navigation end -->
    
    <!-- <p class="notice">< %= notice % ></p> -->
    <!-- <p class="alert">< %= alert % ></p> -->

        <!-- LOGIN MESSAGE -->
    <% flash.each do |name, msg| %>
        <div class="alert-contain navbar-message">
          <div class="alert-new alert-<%= name %> alert-dismissible show"  role="alert">
              <%= msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"  id="x">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
        </div>
    <% end %>

    <%= yield %>

    <!-- Footer start -->
      <%= render "layouts/footer" %>
    <!-- Footer end -->

    <!-- Scroll to top -->
    <a href="#page-top" class="page-scroll scroll-to-top bg-base-color"><i class="fa fa-angle-up"></i></a>
    <!-- JS du template -->
        
        
        <!-- Main JS -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        
        <!-- Include all js plugins (below) -->
        <script src="assets/js/pace.min.js"></script>
        <script src="assets/js/jquery.sticky.js"></script>
        <script src="assets/js/jquery.easing.min.js"></script>
        <script src="assets/js/jquery.matchHeight.min.js"></script>
        <script src="assets/js/jquery.inview.min.js"></script>
        <script src="assets/js/jquery.countTo.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/jquery.flexslider.min.js"></script>
        <script src="assets/js/jquery.validate.min.js"></script>
        
        <!-- BG Slider JS -->
        <script src="assets/js/flickity.pkgd.min.js"></script>
        
        <!-- Theme JS -->
        <script src="assets/js/theme.js"></script>
        <script src="assets/js/switch_style.js"></script>
    <!-- JS du template -->

  </body>
</html>
